# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data science / GIS
*.pkl
*.nc
*.tif
*.tiff
*.shp
*.dbf
*.shx
*.csv

# Pastas de projeto
data/
inputs/
outputs/
results/

# Ambiente virtual
venv/
.env

# Sistema
.DS_Store
